/*@import './base.css';*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 80vh;
}

#app {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    height: 100%;

}

input {
    font-size: 48px;
}

button {
    font-size: 24px;
}

main {
    height: 100%;
}