<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Fundamentals</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="vue-3">
    <div v-bind:style="{backgroundColor: 'aqua', fontSize: fontSizeTemp+ 'px'}">
        Hello World
    </div>
    <div :style="{'background-color': 'aqua', 'font-size': '40px'}">
        Hello World
    </div>
    <span class="padding-medium" v-bind:class="[isMainTitle()? mainTitle: '', borderClass]">Random Text</span>
    <br>
    <span class="padding-medium" v-bind:style="mainTitle">More Random Text</span>
    <h1>{{message}}</h1>
    <p v-for="(luckyNumber, index) in luckyNumbers"> {{index}} Lucky Number: {{luckyNumber}}</p>
    <p>{{employee.name}} is {{employee.age}} years old.</p>
    <p>His salary is {{employee.salary}}</p>
    <h4>Projects:</h4>
    <ul>
        <li v-for="(project,index) in employee.projects" :key="project.project">
            <span>{{index}} - "{{project.project}}" in {{project.timeline}}</span>
            <input type="text">
        </li>
    </ul>
    {{shuffleEmployeeProjects()}}
    <hr/>
    <ul>
        <li v-for="(value,key) in employee">
            <span>{{value}}: {{key}}</span>
        </li>
    </ul>
</div>
<script>
    const {createApp, ref, reactive} = Vue
    createApp({
        setup() {
            const message = "Learning Vue!"
            const luckyNumbers = [3, 5, 7, 12, 17]
            const fontSizeTemp = 60;
            const employee = reactive({
                name: "John",
                age: 55,
                role: "Manager",
                salary: 10000,
                hasCorporateCard: false,
                spendingLimit: 10000,
                yearsWithCompany: 5,
                projects: [
                    {project: "Green A", timeline: "3 years"},
                    {project: "Red B", timeline: "2 years"},
                    {project: "Orange C", timeline: "2 years"},
                ]
            });

            function shuffleEmployeeProjects() {
                setTimeout(() => {
                    employee.projects.sort(() => Math.random() - 0.5)
                }, 5000)
            }

            function isMainTitle() {
                return true;
            }

            function hasGreenBackground() {
                return true;
            }

            const mainTitle = {
                h1: true,
                "bg-grey": true,
            }

            const borderClass = {
                border: true
            }

            return {
                message,
                luckyNumbers,
                employee,
                shuffleEmployeeProjects,
                fontSizeTemp,
                isMainTitle,
                hasGreenBackground,
                borderClass,
                mainTitle
            }
        }
    }).mount("#vue-3")
</script>
<style>
    .h1 {
        font-size: 50px;
        color: lightgreen;
    }

    .bg-grey {
        background-color: grey;
    }

    .bg-green {
        background-color: green;
    }

    .padding-medium {
        padding: 5px;
    }

    .border {
        border: 2px solid red;
    }
</style>
</body>
</html>