<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Fundamentals</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
<div id="vue-3">
    <h1>{{message}}</h1>
    <p v-for="(luckyNumber, index) in luckyNumbers"> {{index}} Lucky Number: {{luckyNumber}}</p>
    <p>{{employee.name}} is {{employee.age}} years old.</p>
    <p>His salary is {{employee.salary}}</p>
    <h4>Projects:</h4>
    <ul>
        <li v-for="(project,index) in employee.projects">
            <span>{{index}} - "{{project.project}}" in {{project.timeline}}</span>
        </li>
    </ul>
</div>
<script>
    const {createApp, ref, reactive} = Vue
    createApp({
        setup() {
            const message = "Learning Vue!"
            const luckyNumbers = [3, 5, 7, 12, 17]
            const employee = reactive({
                name: "John",
                age: 55,
                role: "Manager",
                salary: 10000,
                hasCorporateCard: false,
                spendingLimit: 10000,
                yearsWithCompany: 5,
                projects: [
                    {project: "Green A", timeline: "3 years"},
                    {project: "Red B", timeline: "2 years"},
                ]
            });

            return {
                message, luckyNumbers, employee
            }
        }
    }).mount("#vue-3")
</script>
</body>
</html>